.container{
    height: 100vh;
}

.header-top {
    width: 100%;
    outline-style: solid;
    outline-width: 10px;
    outline-color: #00693E;
    height: 70px;
    display: flex;
    justify-content: center;
    position: center;
    color: white;
    background-color: #00693E;
}

.logo img{
    width: 50px;
    height: auto;
    padding-top: 15px;
    padding-left: 10px;
}

.body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

h2{
    font: verdana;
    color: darkslategrey;
}

.footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    margin-left: 650px;
}

.footer-text{
    color: darkslategrey;
    font: verdana;
}

.b1{
    
}

.b2{
    
}